@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


$default-font: 'Rubik', sans-serif;


* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #141414;
    font-family: $default-font;
    color: whitesmoke;


    .container {
        width: 70%;
        min-height: 100vh;
        margin: 0 auto;
        
        h1 {
            margin: auto;
            margin-top: 10vh;
            border-radius: 5px;
            box-shadow: 1px 3px 6px 5px #2b2929;
            text-align: center;
        }
    }
}